$navbar-inverse-bg: #1A0315;
$navbar-inverse-color: #B82601;
$btn-warning-bg: #88D317;
$btn-success-bg: #6E3667;
$btn-danger-bg: #535353;

@import "bootstrap-sprockets";
@import "bootstrap";

/*  deep plum: #1A0315;
    violet: #6E3667;
    electric lime: #88D317;
    shadow: #535353;
*/

#logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin_right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

body {
  padding-top: 80px;
}

.nav_item {
  margin-left: 25px;
  padding-right: 5px;
  float: left;
  margin-top: 20px;
}

.nav_ul_item {
  padding-left: 25px;
  float: left;
  margin-top: 20px;
  list-style-type: none;
}

.center {
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.left {
  text-align: left;
  letter-spacing: .5px;
}

.footer {
  margin-top: 25px;
  border-top: 1px solid #535353 ;
}

.chef_info {
  margin-top: 10px;
}

.gravatar {
  border-radius: 10px;
}

.well {
  background-color: #EDEDED;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.show_recipe {
  margin: 10px 10px 10px 10px;
}