<div class="row">
  <div class="well col-md-8 col-md-offset-1">
    <h5>Leave a review for this recipe:</h5>
    <%= form_for([@recipe, @review]) do |f| %>
      
      <%= f.text_area :content, rows: 10 %>
  
      <%= f.submit(@review.new_record? ? 'Submit Review  ' : 'Update Review', class: "btn btn-success") %>
    <% end %>
  </div>  
</div> 
